{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>校长简介·怀新小学官网</title>
<link rel="stylesheet" type="text/css"
	href="/static/bootcss/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/static/css/edu.css" />
<link rel="stylesheet" type="text/css" href="/static/css/lnav.css" />
<link rel="stylesheet" type="text/css" href="/static/css/lnav.css" />
<style type="text/css">
#content {
	margin-top: 2rem;
	margin-bottom: 2rem;
	overflow: auto;
	overflow: hidden;
}
</style>
</head>
<body>
	{% include 'edu/nav.html' %}
	<div id="content" class="container">
		<div class="row">
			<div class="col-md-3 left-nav">{% include 'edu/school/leftnav.html' %}</div>
			<div class="col-md-9">
				<div>
					<h3>2017年</h3>
					<p>1.小升初考试：1人获全镇前10名；5人获全镇前20名；25人获全市前100名</p>
					<p>2.语数双科竞赛：1人获一等奖；3人获二等奖；5人获三等奖</p>
				</div>
				<div>
					<h3>2016年</h3>
					<p>1.小升初考试：1人获全镇前10名；5人获全镇前20名；25人获全市前100名</p>
					<p>2.语数双科竞赛：1人获一等奖；3人获二等奖；5人获三等奖</p>
				</div>
				<div>
					<h3>2015年</h3>
					<p>1.小升初考试：1人获全镇前10名；5人获全镇前20名；25人获全市前100名</p>
					<p>2.语数双科竞赛：1人获一等奖；3人获二等奖；5人获三等奖</p>
				</div>
			</div>
		</div>


	</div>
	{% include 'edu/footer.html' %}
</body>
</html>