{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>校园生活·怀新小学官网</title>
<link rel="stylesheet" type="text/css"
	href="/static/bootcss/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/static/css/edu.css" />
<style type="text/css">
#content {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
</style>
</head>
<body>
	{% include 'edu/nav.html' %}
	<div id="content" class="container">
		<div class="row">
			<div class="col-md-2">{% include 'edu/school/leftnav.html' %}</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-3">
						<img src="/static/images/edu/test1.png" width="100%">
						<p>2018年运动会 </p>
					</div>
					<div class="col-md-3">
						<img src="/static/images/edu/test1.png" width="100%" />
						<p>2018年运动会 </p>
					</div>
					<div class="col-md-3">
						<img src="/static/images/edu/test1.png" width="100%" />
						<p>2018年运动会 </p>
					</div>
					<div class="col-md-3">
						<img src="/static/images/edu/test1.png" width="100%">
						<p>2018年运动会 </p>
					</div>
					<div class="col-md-3">
						<img src="/static/images/edu/test1.png" width="100%">
						<p>2018年运动会 </p>
					</div>
					<div class="col-md-3">
						<img src="/static/images/edu/test1.png" width="100%">
						<p>2018年运动会 </p>
					</div>
					<div class="col-md-3">
						<img src="/static/images/edu/test1.png" width="100%">
						<p>2018年运动会 </p>
					</div>
					<div class="col-md-3">
						<img src="/static/images/edu/test1.png" width="100%">
						<p>2018年运动会 </p>
					</div>
					<div class="col-md-3">
						<img src="/static/images/edu/test1.png" width="100%">
						<p>2018年运动会 </p>
					</div>
					<div class="col-md-3">
						<img src="/static/images/edu/test1.png" width="100%">
						<p>2018年运动会 </p>
					</div>
					<div class="col-md-3">
						<img src="/static/images/edu/test1.png" width="100%">
						<p>2018年运动会 </p>
					</div>
					<div class="col-md-3">
						<img src="/static/images/edu/test1.png" width="100%">
						<p>2018年运动会 </p>
					</div>
				</div>
			</div>


		</div>
		{% include 'edu/footer.html' %}
</body>
</html>