{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>学校概况·怀新小学官网</title>
<link rel="stylesheet" type="text/css"
	href="/static/bootcss/css/bootstrap.css" />
<style type="text/css">
* {
	margin: 0;
	padding: 0
}

header {
	background: #788;
	border-bottom: 1px solid #ffe;
}

header img {
	width: 100%
}

#nav {
	background: #788;
}

nav a {
	font-size: 2rem;
	color: #000;
}

#content {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

footer {
	background: #788;
	line-height: 3rem;
}

footer p {
	text-align: center;
	line-height: 3rem;
}

footer a {
	color: #555;
}
</style>
</head>
<body>
	<header>
		<img alt="" src="/static/images/edu/logo.png">
	</header>
	<div id="nav">
		<nav class="container">
			<ul class="nav nav-justified">
				<li><a href="index.html">首页</a></li>
				<li><a href="school.html">学校概况</a></li>
				<li><a href="news.html">学校资讯</a></li>
				<li><a href="">教师教学</a></li>
				<li><a href="">学生风采</a></li>
				<li><a href="">招生招聘</a></li>
				<li><a href="">校史馆</a></li>
				<li><a href="">校友之家</a></li>

			</ul>
		</nav>
	</div>
	<div id="content" class="container">
		<div class="row">
			<div class="col-md-2">
				<ul class="nav nav-pills nav-stacked">
					<li><a href="school.html">学校简介</a></li>
					<li><a href="master.html">校长简介</a></li>
					<li><a href="">教师团队</a></li>
					<li><a href="">学子荣誉</a></li>
					<li><a href="">校园生活</a></li>
					<li><a href="">校友之窗</a></li>
				</ul>
			</div>
			<div class="col-md-10">
				<img alt="" src="/static/images/edu/school.jpg" width="100%">
				<p>怀乡小学原名怀新小学，前身是清咸丰三年（1853年）创建的怀新书院。</p>
				<p>怀乡起义指挥部旧址在广东信宜市怀乡镇怀乡小学校园内。怀乡起义指挥部旧址坐落该校西北，是一座3间的两层楼房，土木砖瓦结构，面积100平方米。</p>
				<p>1927年上海“四·一二”、广州“四·一五”反革命政变后，反动派疯狂镇压革命。根据“八一”南昌起义和中共中央“八七”会议精神，遵照中共广东省委的指示，中共信宜县委以该处为指挥部，于1927年12月15日举行了震动粤西的信宜怀乡起义。</p>
				<p>当天晚上，起义队伍攻占设在怀乡的信宜县七区民团局和怀乡区署，俘获怀乡区长周植盛，成立信宜县怀乡区苏维埃政府，宣布革命政纲，执行了一系列革命措施。但由于敌我力量悬殊太大，起义队伍转战四天四夜，终于分散隐伏待命。1983年，怀乡起义指挥部旧址定为信宜县（市）文物保护单位。</p>
			</div>
		</div>


	</div>
	<footer>
		<div class="container">
			<p>
				<span>友情链接：</span> <a href="">教育部</a> <a href="">广东省教育厅</a> <a
					href="">茂名市教育局</a> <a href="">信宜市教育局</a>
			</p>
		</div>
	</footer>
</body>
</html>