@CHARSET "UTF-8";

.left-nav {	
	margin-bottom: -99999px;
	padding: 0 0 99999px;
	background-color: #F2F2F2;
}

.title{
	height: 9rem;
	line-height: 9rem;
	text-align: center;
	background: #788;
}

.container-left-one>span {
	font-size: 20px;
}

.container-left-two {
	background: #F2F2F2;
}

.container-left-two>li {
	list-style: none;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid;
	cursor: pointer;
	padding-left: 20px;
}

.container-right-two li:hover, .container-left-two li:hover {
	background-color: #D9E8DF;
}

.container-left-two>li>a>span {
	float: right;
	margin-right: 20px;
}
.left-nav-menu  span{
	
	float:right;
}